nav ul li:hover {
	background-color: lightgrey !important; /** Whole site is dark mode */
}

iframe {
	border-style: none;
	margin: 10px auto;
	display: block;
}

.center-content-div {
	overflow: auto; /** fix small screens */
	margin-top: 10px;
	text-align: center;
	padding-bottom: 5px;
}

.default-list, .default-list li {
	list-style-type: initial !important;
	margin-left: 10px;
}

.default-list li a {
	text-decoration: underline;
	color: white;
}

.material-icons {
	margin-right: 5px;
	vertical-align: middle;
}

table tr td p {
	text-align: justify;
}